= form_tag report_handling_path, class: 'form-inline' do
  .form-group
    = select_tag 'territory', options_from_collection_for_select(@fos, :id, :name), class: 'form-control'
  #datepicker.input-append.date{'data-date-start-date' => @first_month, 'data-date-end-date' => @last_month}
    %input.form-control{name: 'date', type: 'text', value: @last_month}
      %span.add-on
  = submit_tag 'Обновить', class: 'btn btn-primary'